<div class="new-container">
  <div class="new-form">
    <%= simple_form_for([@medical_care, @medical_care_medicament]) do |f| %>
      <%= f.association :medicament %>
      <%= f.input :dose %>
      <div class="add-btn-medoc">
        <%= f.button :submit, "Ajouter", class: "btn-ajouter-medicament" %>
      </div>
    <% end %>
  </div>
</div>
