// Specific CSS for your home-page

/* Police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Div englobante */

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.4rem;

  H5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
}

/* Calendrier */

.calendar-container {
  display: grid;
  border-color: #F7F2FA;
  border-style: solid;
  background-color: #F7F2FA;
  border-width: 1.399999976158142px;
  border-radius: 12px;
  padding: 16px;
  max-width: 352px;
  position: relative;
    p{
      color: #0e0000b2;
    }
}

.calendar-row {
  display: inline-flex;
  justify-content: space-evenly;
}

.date-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #6750A4;
  a {
    color: white;
    text-decoration: none;
  }
}

.empty-week-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #F7F2FA;
  a {
    color: black;
    text-decoration: none;
  }
}

.date-name {
  // font-size: larger;
}

.rdv-home {
  border-color: #cac4d0;
  border-style: solid;
  border-width: 1.399999976158142px;
  border-radius: 12px;
  padding: 6px;
  width: 352px;
}

.rdv-home-info {
  align-items: center;
  padding: 0.6rem;
  max-width: 344px;
}

.nom-adresse-rdv-home {
  flex: 1;
  font-size: 1rem;
  gap: 0.4rem;
}

.date-rdv-home {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.patient-home {
  display: grid;
  border-color: #F7F2FA;
  border-style: solid;
  background-color: #F7F2FA;
  border-width: 1.399999976158142px;
  border-radius: 12px;
  padding: 16px;
  width: 352px;
  position: relative;
  padding-left: 72px;
  p {
    font-size: 1.1rem;
    margin-left: 16px;
  }
}

.medicament-name {
  font-size: 1.1rem;
  margin-left: 50px;
}

.btn-medicament-prit {
  padding: 6px 0px;
  width: 140px;
  height: 35px;
  background-color: #D0BCFF;
  border-radius: 8px;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 16px;
  margin-left: -8px;
  margin-top: 16px;
  a {
    color: #000000;
    text-decoration: none;
  }
}

.pris-text {
  p {
    font-size: 16px;
  }
}

.barre-separation-accueil::after {
  content: "";
  display: block;
  width: 238px;
  height: 0.6px;
  background-color: #CFBCFF;
  margin-top: 11px;
  margin-bottom: 8px;
}

.barre-separation-accueil-int::after {
  content: "";
  display: block;
  width: 238px;
  height: 0.6px;
  background-color: #e1dbe6;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: -18px;
}

#medicament-pris {
  color : #0e7b00;
  margin-top: 8px;
  margin-left: 3px;
}

.medicament-dose {
  margin-left: 32px;
}

#barre-accueil-rdv-haut {
margin-bottom: -19px;
}

#barre-accueil-rdv-bas {
margin-top: -29px;
}
