.container-medicaments {
  padding: 1rem;
}
.medicaments-card {
  margin-bottom: 8px;
  margin-top: 8px;
}

.medicaments-card-stock {
  display: flex;
  justify-content: center;
}

.info-medicaments {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.moins-quantite-plus {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.btn-moins {
  display: flex;
}

.titre-stock-actuel {
  font-size: 0.9rem;
  font-weight: 500;
  justify-content: center;
  display: grid;
  padding-top: 16px;
}

.barre-separation-medicament::after {
  content: "";
  display: block;
  width: 320px;
  height: 0.8px;
  background-color: #CFBCFF;
  margin-top: 2px;
  margin-bottom: 8px;
}

.ajouter-medicament {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
  background-color: #FEF7FF;
  padding-bottom: 21px;

  #ajouter-medicament-btn {
    display: inline-block;
    padding: 6px 0px;
    width: 156px;
    background-color: #D0BCFF;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 14px;
    border: none;
    justify-content: center;
  }
}

.form {
  margin: 20px;
}

.form-name,
.form-stock,
.form-unit {
  margin-bottom: 10px;
}

.form label {
  display: block;
}

.form input[type="text"],
.form select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ajouter-medicament {
  margin-top: 10px;
}

.ajouter-medicament input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}
