  <div class="navbar-medassist">
    <div class="navbar-medassist-left">
      <%= link_to image_tag("icone-navbar-gauche.svg", alt: "Bouton gauche"), "#" %>
    </div>
    <div class="navbar-medassist-title">
      <h1><%= @title %></h1>
    </div>
    <div class="navbar-medassist-right">
      <%= link_to image_tag("icone-navbar-droite.svg", alt: "Bouton droit"), profil_path %>
    </div>
  </div>

  <div class="espace-vide-navbar"></div>
