<div class="navbar-traitement-ajout">
  <div class="navbar-traitement-left">
    <%= link_to image_tag("icon-barre-fermer.svg", alt: "Bouton gauche"), "#" %>
  </div>
  <div class="navbar-traitement-title">
    <h1>Nouveau patient</h1>
  </div>
  <div class="navbar-traitement-right">
    <%= link_to image_tag("icon-valider.svg", alt: "Bouton droit"), "" %>
  </div>
</div>

<div data-controller="add-medicament">
  <%= render partial: "form", locals: {medical_care: @medical_care} %>
</div>
