.footer-container {
  position: fixed;
  bottom: 0;
  width: 390px;
  background-color: #FEF7FF;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 32px;
  padding-right: 32px;

  .footer-button {

  }
}

.espace-vide-footer {
  height: 76px;
  margin-top: 8px;
}
