<h1>Médicaments</h1>

<section id="stock-actuel">
  <h2>Stock actuel</h2>

  <table>
    <thead>
      <tr>
        <th>Nom du médicament</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      <% @medicaments.each do |medicament| %>
        <tr>
          <td><%= medicament.name %></td>
          <td><%= medicament.unit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id="ajouter-medicament">
  <h2>Ajouter un médicament</h2>

  <form action="/medicaments" method="post">
    <%= csrf_meta_tags %>

    <input type="text" name="nom_medicament" placeholder="Nom du médicament" required>
    <input type="number" name="quantite_medicament" placeholder="Quantité" required>
    <button type="submit">Ajouter</button>
  </form>
</section>
